@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body{
	margin: 0px;
	padding: 0px;
	font-family: 'Verdana', Arial, sans-serif;
}
body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
    body::-webkit-scrollbar-thumb{
        background: black;
        border-radius: 2em;
    }
    body::-webkit-scrollbar-track{
        background: #3F3636;
    }
header{
	height: 6.5em;
	width: 100%;
	background: rgba(0 0 0 /0.99);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	.img1{
		width: 4em;
		height: auto;
		margin-left: 25px;
		margin-right: 20px;
		border-radius: 1.8em;
		border: solid rgb(0 0 0) 5px;
	}
		.img1:hover{
			width: 4.5em;
			height: auto;
			margin-left: 20px;
			margin-right: 20px;
			border-radius: 2.1em;
			border: solid white 5px;
			padding: 0em;
		}
	header nav{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: wrap row;

	}
	header nav a{
		max-width: 100%;
		display: block;
		margin: 0em 0.2em 0em 0em;
		text-decoration: none;
		text-align: center;
		color: white;
		font-size: 1.5em;
		font-weight: bold;
		padding: 0.5em;
        font-family: 'Secular One', sans-serif;
	}
		header nav a:hover{
			background-color: rgba( 255 255 255 /0.99);
			padding: 0.5em;
			border-radius: 1.5em;
			color: black;
			font-weight: bold;
			margin: 0em 0.2em 0em 0em;
		}
.inicio{
    background: url(/img/fondo_sobre_nosotros.jpg) fixed no-repeat center top -10em;
    background-size: cover;
    height: 40vh;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
    .inicio h1{
        margin: 0.5em;
        padding: 0.5em 1em 0.5em 1em;
        border-radius: 30px;
        opacity: 1;
        text-align: center;
        font-size: 4.5em;
        font-weight: 900;
        color: white;
        display: block;
        background: rgba( 0 0 0 /0.85);
    }
.contenido1{
    padding: 1em 0em 3em 0em;
    margin: 0px;
    background: rgba(213 140 252 /0.6);
}
.contenido11{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
    .contenido1 h2{
        text-align: center;
        display: block;
        width: 100%;
        font-size: 4em;
        font-family: 'Secular One', sans-serif;
        margin: 0.3em 0em 0.5em 0em;
    }
    .contenido1 p{
        text-align: justify;
        display: block;
        width: 50em;
        padding: 0em 2em 0em 2em;
        margin: 0em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.3em;
    }
    .contenido1 img{
        display: block;
        max-width: 100%;
        width: 18em;
        border-radius: 1.5em;
        margin: 1.5em 0em 0em 0em;
    }
.contenido2{
    margin: 0em;
    padding: 0em 0em 2em 0em;
    background-color: rgba(229, 179, 254, 0.6);
}
.contenido21{	
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
    .contenido21 h2{
        max-width: 100%;
        width: 100%;
        margin: 0em;
        padding: 0.8em 0em 0.5em 0em;
        font-size: 4em;
        text-align: center;
        display: block;
        font-family: 'Secular One', sans-serif;
    }
    .contenido21 p{
        display: block;
        width: 50em;
        padding: 0em 2em 0em 2em;
        margin: 0em;
        font-size: 1.3em;
        text-align: justify;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    .contenido21 img{
        max-width: 100%;
        width: 15em;
        border-radius: 3em;
        margin-bottom: 1.5em;
    }
.contenido3{
    padding: 1em 0em 3em 0em;
    margin: 0px;
    background: rgba(243 217 255 /0.6);
}
.contenido31{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
    .contenido3 h2{
        text-align: center;
        display: block;
        width: 100%;
        font-size: 4em;
        margin: 0.3em 0em 0.5em 0em;
        font-family: 'Secular One', sans-serif;
        font-weight: 900;
    }
    .contenido3 p{
        text-align: justify;
        display: block;
        width: 50em;
        padding: 0em 2em 0em 2em;
        margin: 0em;
        font-size: 1.3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    .contenido3 img{
        display: block;
        max-width: 100%;
        width: 18em;
        border-radius: 1.5em;
        margin: 1.5em 0em 0em 0em;
    }
.contenido4{
    padding: 2em 2em 5em 2em;
    display: flex;
    justify-content: center;
}
.contenido41{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
    width: 80em;
}
    .contenido41 h2{
        margin: 0em 0em 1em 0em;
        text-align: center;
        width: 100%;
        font-size: 4em;
        font-family: 'Secular One', sans-serif;
    }
    .contenido41 p{
        width: 40em;
        font-size: 1.3em;
        text-align: justify;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    .contenido41 img{
        max-width: 100%;
        width: 13em;
        border-radius: 0.6em;
    }
    .derecha, .izquierda{
        margin: 0.5em 0em 0em 0em;
    }
        .derecha{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
            .derecha span{
                font-weight: 900;
                text-transform: capitalize;
            }
            .derecha p{
                margin: 0em 2em 0em 0em;
            }    
                .derecha p::first-letter{
                    font-size: 2em;
                } 
    .izquierda{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
        .izquierda p{
            margin: 0em 2em 0em 2em;
        }
        .izquierda p::first-letter{
            font-size: 2em;
        }
        .izquierda span{
            font-weight: 900;
            text-transform: cap;
        }
.contenido5{
    display: flex;
    justify-content: center;
    padding: 3em 1em 4em 1em;
    flex-flow:wrap row;
}
.contenido5 h2{
    width: 100%;
    text-align: center;
    font-size: 4em;
    font-family: 'Secular One', sans-serif;
    margin: 0em 0em 1em 0em;
}
    .tarjeta{
        width: 425px;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0px auto 30px;
        box-shadow: 0px 0px 5px #CBCBCB;
        border-radius: 30px;
        padding:30px;
    }
        .tarjeta img{
            max-width: 100%;
            width: 160px;
            height: 160px;
            border-radius: 30px;
            margin: 0px 20px 0px 0px;
            object-fit: cover;
            object-position: center;
        }



.con6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    padding: 0px 0px 100px 0px;
}
.con6 h2{
    margin: 0px 0px 50px 0px;
    width: 100%;
    text-align: center;
    font-size: 4em;
    font-family: "Secular One", sans-serif;
}
.con6 article{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    width: 310px;
    height: 500px;
}
.con6 article h3{
    text-align: center;
}
.con6 article p{
    text-align: justify;
}
    .con6 article img{
        width: 250px;
        height: 250px;
        border-radius: 150px;
    }
footer{
    height: 6em;
    max-width: 100%;
    padding: 2em 2em 2em 2em;
    background: rgba(0 0 0 /0.89);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow:wrap row;
}
footer .copyright p{
        font-size: 1.15em;
        font-style: normal;
        font-weight: bold;
        text-align: center;
    }
    footer ul{
        list-style: none;
        padding: 0px;
        display: flex;
    }
    footer ul li{
        margin: 0em 0.5em 0em 0.5em;
    }
    footer ul li article a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        font-weight: 900;
    }
    footer ul li article a i{
        margin: 0em 0.02em 0em 0em;
    }
@media only screen and (max-width:700px){
    footer{
        height: 8em;
    }
    footer .copyright p{
        font-size: 1em;
    }
}